body {
	font-family: "Calibri";
	background-color: white;
	color: #6b6b6b;
}

footer {
	display: block;
	margin-top: 16%;
	width: 100%;
	font-size: 0.7em;
	text-align: center;
}

nav {
	position: relative;
	text-align: center;
	top: 23px;
	right: 27px;
	width: 100%;
	margin-bottom: 5%;
}

nav li {
	display: inline;
	margin: 20px;
	justify-content: center;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}

h1 {
	text-align: center;
	margin-top: 16vh;
}

.container {
	position: relative;
	width: auto;
	text-align: center;
	margin-top: 13%;
}

.wb {
	max-height: 170px;
}

#p1 {
	position:relative;
	text-align: center;
	margin-top: 3.5%;
	margin-left: 29.5%;
	margin-bottom: 2%;
	width: 40%;
	word-spacing: 2.5px;
	font-size: 0.95em;
}

#p2 {
	position:relative;
	text-align: center;
	margin-left: 29.5%;
	margin-bottom: 5%;
	width: 40%;
	word-spacing: 2.5px;
	font-size: 0.95em;
}

#contact {
	position:relative;
	text-align: center;
	margin-left:29.5%;
	width: 40%;	
	word-spacing: 2.5px;
	font-size: 0.95em;
}

