body {
	font-family: "Calibri";
	background-color: #b8d5fd;
	color: white;
}

footer {
	position: absolute;
	bottom: 15px;
	width: 100%;
	font-size: 0.8em;
	text-align: center;
}

nav {
	position: absolute;
	text-align: center;
	top: 23px;
	right: 20px;
	width: 100%;
}

nav li {
	display: inline;
	margin: 20px;
	justify-content: center;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}

h1 {
    position: absolute;
    text-align: center;
    margin-top: 150px;
    width: 100%;
}

#text {
	position:absolute;
	text-align: center;
	margin-top: 200px;
	width: 100%;
}

