body {
	font-family: "Calibri";
	background-color: #b8d5fd;
	color: white;
}

footer {
	position: absolute;
    text-align: center;
    bottom: 30px;
}

nav {
	position: absolute;
	text-align: center;
	top: 30px;
}

nav li {
	display: inline;
	margin: 20px;
	text-align: center;
	justify-content: center;
}

h1 {
    position: fixed;
    margin-top: 150px;
    left: 565px;
}

#text {
	position:fixed;
	margin-top: 220px;
	left: 610px;
}

