body {
  font-family: "Calibri";
  background-color: #b8d5fd;
  color: white;
}

footer {
  position: relative;
  bottom: 5%;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
}

nav {
  position: fixed;
  height: 100px;
  top: 11%;
  right: 43%;
  width: 100%;
}

nav li {
  display: inline;
  text-align: center;
  margin: 20px;
}

.fade {
 opacity: 1;
 transition: opacity .25s ease-in-out;
 -moz-transition: opacity .15s ease-in-out;
 -webkit-transition: opacity .15s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}

h1 {
    position: absolute;
    text-align: center;
    margin-top: 150px;
    width: 100%;
}

#text {
  position:absolute;
  text-align: center;
  margin-top: 200px;
  width: 100%;
}

#photos {
  margin-top: 3%;
  margin-left: 5%;
  margin-bottom: 5%;
  justify-content: center;
  text-align: center;
}

.photo {
  height: auto; 
  width: auto; 
  max-width: 600px;
  max-height: 600px;
  border: 12.5px solid white; 
  margin-bottom: 5%;
}

a {
  font-size: 16px; 
  display: block;
  margin-right: 8px;
  margin-bottom: 30px;
}


