body {
  width: 100%;
  height: 100%;
  font-family: "Calibri";
  background-color: white;
  color: #6b6b6b;
}

footer {
  position: relative;
  bottom: 6%;
  width: 100%;
  font-size: 0.7em;
  text-align: center;
}

ul {
  padding-left: 0;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

nav {
  position: fixed;
  height: 100px;
  top: 16%;
  width: 100%;
  right: 43%;
}

nav li {
  display: block;
  text-align: center;
  margin: 40px;
}

.fade {
 opacity: 1;
 transition: opacity .25s ease-in-out;
 -moz-transition: opacity .15s ease-in-out;
 -webkit-transition: opacity .15s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}

h1 {
    position: absolute;
    text-align: center;
    margin-top: 150px;
    width: 100%;
}

#text {
  position:absolute;
  text-align: center;
  margin-top: 200px;
  width: 100%;
}

#photos a {
  font-size: 16px; 
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin: 8px;

}

#photos a:nth-of-type(2n) {
  margin-right: 0px;
}

@media screen and (min-width: 50em) {
  #photos a {
    width: calc(29% - 6px);
  }

  #photos a:nth-of-type(2n) {
    margin-right: 8px;
  }

  #photos a:nth-of-type(4n) {
    margin-right: 0px;
  }
}

#photos {
  margin-top: 3%;
  margin-left: 15.5%;
  margin-bottom: 5%;
  justify-content: center;
}

.photo {
  height: auto; 
  width: auto; 
  max-height: 190px;
  margin-bottom: 5%;
}

/*
a {
  font-size: 16px; 
  display: block;
  margin-right: 8px;
  margin-bottom: 30px;
}
*/




