body {
	font-family: "Calibri";
	background-color: #b8d5fd;
	color: white;
}

#logo {
    position: absolute;
    display: block;
    margin: auto;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 100px;
    height: 30%;
}

footer {
	position: absolute;
    text-align: center;
    bottom: 30px;
    left: 3px;
    width: 100%;
}

nav {
	position: absolute;
	text-align: center;
	top: 23px;
	right: 25px;
	width: 100%;
}

nav li {
	display: inline;
	margin: 20px;
	justify-content: center;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}



