body {
	font-family: Helvetica;
	color: white;
}

.main {
	height: 1000px;
	background-image: url(http://67.media.tumblr.com/574a91ccce0ce76bb4a7249766f48188/tumblr_ng691wq9XU1s786t8o1_500.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	font-size: 50px;
	text-align: center;
}

nav {
	text-align: center;
	margin-top: 30px;
}

nav li{
	display: inline;
	margin: 20px;
	text-align: center;
	justify-content: center;
}


